<router-outlet></router-outlet>
<div style="display: flex;">
  <div class="one1 animediv">
    <ng-lottie width="60px" height="60px" [options]="options1" (animationCreated)="animationCreated1($event)"></ng-lottie>
  </div>
  
  <div class="two2 animediv">
   <ng-lottie width="60px" height="60px" [options]="options2" (animationCreated)="animationCreated2($event)"></ng-lottie>
  </div>
  <div class="two2 animediv">
   <ng-lottie width="60px" height="60px" [options]="options3" (animationCreated)="animationCreated3($event)"></ng-lottie>
  </div>
  <div class="two2 animediv">
   <ng-lottie width="60px" height="60px" [options]="options4" (animationCreated)="animationCreated4($event)"></ng-lottie>
  </div>
</div>
